</main>
<footer class="page-footer">
    <div class="container ">
        <div class="row">
            <div class="center-align">
                <h5 class="white-text">Mon pied de page</h5>
                <p class="grey-text text-lighten-4">Texte à ajouter</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center-align">
            © 2024 Copyright Text
        </div>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<% if (includeScript) {%>
    <script src="/js/script.js"></script>
<%}%>
</body>
</html>