<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Main</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<header>
  <nav>
    <div class="nav-wrapper">
        <% if (compte == null) {%>
            <a href="/login" class="brand-logo">Identification</a>
        <%}%>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <%if (compte != null) {%>
          <li>
              <a href="/users/modification">Modifier</a>
          </li>
          <li>
            <a href="/deconnecter"><i class="material-icons">settings_power</i></a>
          </li>
        <% }%>
        <%if (compte == null) {%>
          <li><a href="/users">Comptes</a></li>
          <li><a href="/inscription">S'inscrire</a></li>
        <% }%>
      </ul>
    </div>
  </nav>
</header>
<main>