<%- include('./header.ejs') %>
<div class="container">
    <%if( compte == null) {%>
    <div class="row">
        <div class="col-12 center-align">
            <h4>Veuillez vous inscrire <a href="/inscription">Inscription</a></h4>
        </div>
    </div>
    <%} else {%>
        <h3 class="center-align">Welcome <%=compte.nom%></h3>
    <%}%>
</div>
<%- include('./footer.ejs', {includeScript: false}) %>