<%- include('./header.ejs') %>
<body>
<div class="container">
    <%if( compte == null) {%>
    <div class="row">
        <div class="col-12 center-align">
            <h4>Veuillez vous inscrire <a href="/inscription">Inscription</a></h4>
        </div>
    </div>
    <%} else {%>
        <h3> welcome <%=compte.nom%></h3>
        <%}%>
</div>
<%- include('./footer.ejs') %>